<html>
<title>Savior App
</title>
<head>
<link type="text/css" rel="stylesheet" href="/static/app/css/home.css" th:href="@{/app/css/home.css}" />
<link type="text/css" rel="stylesheet" href="/static/app/css/simple-sidebar.css" th:href="@{/app/css/simple-sidebar.css}" />

</head>
<body style="height:815px">

<div class="headerx">
<div id="login">
<div id="img1" class="header"><a href="/"><img src="/static/app/images/logo.jpg" th:src="@{/app/images/logo.jpg}" id="img1" /></a></div>

<form id="loginForm">
<div id="form1" class="header">Email or Username<br></br>
<input placeholder="username" class="form-control" id="login" name="username"/>
</div>
<div id="form2" class="header">Password<br></br>
<input placeholder="password" class="form-control" type="password" name="password"/><br></br>
</div>
<div id="submit1" class="header"><input type="submit" id="button1" value="login"/></div>
</form>
</div>
<div id="postlogin">
<div class="header"><input type="submit" id="logout" value="logout" style="float: right;"/></div>
</div>
</div>

<div class="bodyx" id ="bodyx">
   <div id="intro1" class="bodyx">Savior helps you connect and share<br></br>with people for noble cause.</div>
<div id="intro2" class="bodyx">Create an account</div>
<div id="img2" class="bodyx"><img src="/static/app/images/homepagemain.png" th:src="@{/app/images/homepagemain.png}"/></div>
<div id="intro3" class="bodyx">It's free and always will be.</div>
<form method="post" action="/postlogin" >
<div id="form3" class="bodyx"><input placeholder="Firstname" type="text" id="namebox" name="name1" /><input placeholder="Lastname" type="text" id="namebox"/><br></br>
<input placeholder="Email" type="text" id="mailbox"/><br></br>
<input placeholder="Re-enter email" type="text" id="mailbox"/><br></br>
<input placeholder="Password" type="password" id="mailbox"/><br></br>
<input type="date" id="namebox"/><br></br>
<input type="text" id="mailbox" placeholder="Blood Group" /><br></br>
<input type="radio" name="sex" value="male"/> Male  <input type="radio" name="sex" value="female"/> Female<br></br><br></br>
By clicking Create an account, you agree to our Terms.<br></br>
<input type="submit" id="button2" value="Signup"/>
</div>
</form>
</div>

<!-- below code after login -->
<div class="bodyx" id="body1">
    <div  id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Your Profile
                    </a>
                </li>
                <li>
                    <a href="#">Acceptor</a>
                </li>
                <li>
                    <a href="#">Donor</a>
                </li>
                <li>
                    <a href="#">Transaction</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>


                    </div>

                    
                </div>
            </div>
        </div>
</div>
</div>
<!-- end of code after login -->


<div class="body1" id="footer">
<div id="conclu1" class="body1">English UK....<br></br><hr></hr>Contacts......</div></div>


<script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
        crossorigin="anonymous"></script>
        
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/app/js/index.js" th:src="@{/app/js/index.js}" ></script>
</body>
</html>